.button_add_snippet {
	justify-content: center;
	cursor: pointer;
	width: 6em;
	height: 2.5em;
	cursor: pointer;
	margin-top: 7px;
	line-height: 2.4em;
}

.pane {
	background-color: white;
	width: 99%;
	height: 300px;
	margin-left: 10px;
	margin-bottom: 30px;
	border: 0.2rem solid;
}

.input_snippet_name {
	width: 200x;
}

.textarea_snippet_description {
	width: 200px;
}

.text {
	font-size: 17px;
	color: rgb(127, 113, 238);
}

.button_snippet_creation {
	cursor: pointer;
	width: 10em;
	cursor: pointer;
	line-height: 2.4em;
	text-align: center;
	margin-bottom: 10px;
}

.styles {
	padding-left: 10px;
	color: rgb(196, 192, 192);
	padding-bottom: 30px;
}
